.bunnyAnimation {
  width: 100%;
  position: absolute;
  height: 20vh;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}
.bunnyLeftSideBar {
  position: absolute;
  left: 0;
  width: 10vw;
  height: 20vh;
  z-index: 10;
  background-color: black;
}

.bunnyRightSideBar {
  position: absolute;
  right: 0;
  width: 10vw;
  height: 20vh;
  z-index: 10;
  background-color: black;
}

.bunnyAnimation img {
  position: absolute;
  left: 30px;
  bottom: 2vh;
  z-index: 5;
  overflow: hidden;
}
