.button {
  background-color: #b32248;
  color: white;
  border: 0;
  font-size: 36px;
  padding: 12px;
  white-space: nowrap;
}

.disabled {
  pointer-events: none;
}

.selected {
  outline: 5px auto -webkit-focus-ring-color;
}
