.button {
  background-color: #c1082e;
  color: white;
  border: 0;
  font-size: 32px;
  white-space: nowrap;
  height: 66px;
}

.disabled {
  pointer-events: none;
}

.selected {
  outline: 5px auto -webkit-focus-ring-color;
}

button.button:active {
  transition: all 0.4s ease-in-out;
  transform: scale(1.05);
}

button.button {
  font-family: 'Palatino';
}
