.ticketPullScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10rem 5rem 5rem;
}

.title {
  text-transform: uppercase;
  font-size: 150px;
}

.button {
  margin-top: 3rem;
  border: 0;
  background-color: #b32248;
  color: white;
  border-radius: 50%;
  font-size: 32px;
  height: 200px;
  width: 200px;
}
.button p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
}
