.ticketPullScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5vw;
}

.description {
  line-height: 8vh;
}

.title {
  text-transform: uppercase;
  font-size: 150px;
  padding: 15vh 0 5vh;
}

.button {
  margin-top: 6vh;
  border: 0;
  background-color: #b32248;
  color: white;
  border-radius: 50%;
  font-size: 32px;
  height: 200px;
  width: 200px;
  line-height: 5vh;
}
.button p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
}
