.survey {
  display: flex;
  flex-flow: column nowrap;
  height: 600px;
  width: 800px;
}
.header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 4rem);
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
}

.surveyButton,
.surveyBackButton {
  background-color: black;
  border: 0;
  height: 60px;
}

.surveyBackButton {
  height: 40px;
}
