.gridChoices {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(5, 45px);
  column-gap: 28px;
  row-gap: 20px;
}
.gridChoices button {
  font-size: 24px;
  padding: 0rem;
}

.gridContainer {
  padding-top: 5vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
