.question {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - 92px);
  position: relative;
  justify-content: space-between;
  padding-bottom: 20vh;
}
.question h2 {
  padding: 0rem;
  margin: 0rem;
  font-size: 7vh;
}
.choices {
  display: flex;
  flex-flow: column nowrap;
  height: 50%;
  padding: 0vh 8vw 10vh;
}
.simpleChoices button + button {
  margin-top: 5vh;
}
