.question {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 600px;
}
.question h2 {
  padding: 0rem;
  margin: 0rem;
  font-size: 34px;
  line-height: 40px;
}
.choices {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  bottom: 140px;
  max-width: 800px;
  width: 800px;
  align-items: center;
}
.simpleChoices button + button {
  margin-top: 30px;
}

.simpleChoices button {
  width: 85%;
}
