.ticketSpinner {
  display: flex;
  flex-flow: column nowrap;
  letter-spacing: 1px;
  align-items: center;
  font-size: 48px;
}

.ticketSpinner img {
  animation: spin 1s infinite linear;
  margin-top: 80px;
}
.ticketSpinner h2 {
  padding-top: 34px;
}

.ticketText {
  color: #800303;
}

.waitingForTicketText {
  color:white;
}

.blink_me {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
