.ticketSpinner {
  display: flex;
  flex-flow: column nowrap;
  color: #b32248;
  letter-spacing: 1px;
  align-items: center;
}

.ticketSpinner img {
  animation: spin 3s infinite linear;
  margin-top: 4rem;
}
.ticketSpinner h2 {
  padding-top: 10vh;
}

.ticketText {
  padding-top: 4rem;
  font-size: 48px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
